<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.fhzz.springbootdemo.dao.slave1.mapper.MysqlDemoTableMapper">
	<resultMap id="BaseResultMap"
		type="com.fhzz.springbootdemo.entity.slave1.MysqlDemoTable">
		<id column="id" property="ID" javaType="String" />
		<result column="content" property="CONTENT" javaType="String" />
		<result column="num" property="NUM" javaType="double" />
		<result column="createTime" property="CREATE_TIME" javaType="java.sql.Timestamp" />
	</resultMap>

	<sql id="Base_Column_List">
		ID, CONTENT, NUM, CREATE_TIME
	</sql>

	<select id="getAll" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM mysql_demo_table
	</select>

	<select id="getOne" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM mysql_demo_table
		WHERE id =
		#{id}
	</select>

</mapper>