<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>首页</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<script th:src="@{/jquery/jquery-3.3.1.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/demo/index.js}"></script>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#example-navbar-collapse">
						<span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span
							class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">基于SpringBoot开发</a>
				</div>
				<div class="collapse navbar-collapse" id="example-navbar-collapse"
					style="margin-left:200px">
					<ul class="nav navbar-nav">
						<li id="top_li2"><a href="#"
							onclick='showMainContent(2,"/demo/thymeleaf/openMainContent")'>Thymeleaf</a></li>
						<li id="top_li3"><a href="#"
							onclick='showMainContent(3,"/demo/shiro/openMainContent")'>Shiro</a></li>
						<li id="top_li4"><a href="#"
							onclick='showMainContent(4,"/demo/jpa/openMainContent")'>JPA</a></li>
						<li id="top_li5"><a href="#"
							onclick='showMainContent(5,"/demo/mybatis/openMainContent")'>MyBaits</a></li>
						<li id="top_li6"><a href="#"
							onclick='showMainContent(6,"/demo/logback/openMainContent")'>logback日志</a></li>

					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="container">
		<div id='mainContent'></div>
	</div>
</body>

</html>