<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>考勤详情</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/bootstrap/css/bootstrap-table.css}" rel="stylesheet" />
<link th:href="@{/bootstrap/css/bootstrap-dialog.css}" rel="stylesheet" />

<script th:src="@{/jquery/jquery-3.3.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap-table.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap-dialog.js}"></script>

<script th:src="@{/js/common/fadingTip.js}"></script>
<script type="text/javascript">
	var attendanceId = '[[${attendanceId}]]';

	$(function() {
		console.log(attendanceId);
		$('#details-table').bootstrapTable({
			url : "/attendance/queryAttendanceDetails?attendanceId=" + attendanceId,
			height : $(window.parent.document).find("#wrapper").height() - 300,
			width : $(window).width() - 300,
			showColumns : true,
			formId : "queryForm",
			pagination : true,
			clickToSelect : true, // 单击某一行的时候选中某一条记录
			pageSize : 300,
			columns : [
				{
					field : 'indexNumber',
					title : '序号',
					align : 'center',
					valign : 'middle',
					sortable : false
				},
				{
					field : 'username',
					title : '工号',
					align : 'center',
					valign : 'middle',
					sortable : false
				},
				{
					field : 'realname',
					title : '姓名',
					align : 'center',
					valign : 'middle',
					sortable : false
				},
				{
					field : 'a',
					title : '系统记录</br>出勤天数A',
					align : 'center',
					valign : 'middle',
					sortable : false
				},
				{
					field : 'b',
					title : '部门修正</br>天数B',
					align : 'center',
					valign : 'middle',
					sortable : false
				},
				{
					field : 'c',
					title : '出差天数</br>C',
					align : 'center',
					valign : 'middle',
					sortable : false
				},
				{
					field : 'd',
					title : '扣减上月</br>预发天数D',
					align : 'center',
					valign : 'middle',
					sortable : false
				},
				{
					field : 'e',
					title : '预发下月</br>餐补天数E',
					align : 'center',
					valign : 'middle',
					sortable : false
				},
				{
					field : 'f',
					title : '考勤实际</br>出勤天数A',
					align : 'center',
					valign : 'middle',
					sortable : false
				},
				{
					field : 'g',
					title : '晚餐补贴</br>次数',
					align : 'center',
					valign : 'middle',
					sortable : false
				}
			]
		});
	});
</script>

</head>
<body>
	<table id="details-table">
	</table>
</body>
</html>