<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fhzz.springbootdemo.dao.master.mybatis.MyBatisMapper">
	<resultMap id="BaseResultMap"
		type="com.fhzz.springbootdemo.entity.master.OracleDemoTable">
		<id column="ID" property="id" javaType="String" />
		<result column="CONTENT" property="content" javaType="String" />
		<result column="NUM" property="num" javaType="double" />
		<result column="CREATE_TIME" property="createTime" javaType="java.sql.Timestamp" />
	</resultMap>

	<sql id="Base_Column_List">
		ID, CONTENT, NUM, CREATE_TIME
	</sql>

	<select id="findByContentOrNum" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM ORACLE_DEMO_TABLE
		WHERE 1=1
		<if test="content != null and content != ''">
			AND CONTENT = #{content}
		</if>
		<if test="num != null and num != ''">
			AND NUM = #{num}
		</if>
	</select>

</mapper>