<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title></title>
</head>
<body>
<p>使用thymeleaf布局非常的方便</p>

<p>定义代码片段</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;footer</span> <span class="na">th:fragment=</span><span class="s">"copy"</span><span class="nt">&gt;</span> 
<span class="ni">&amp;copy;</span> 2016
<span class="nt">&lt;/footer&gt;</span>
</code></pre></div></div>

<p>在页面任何地方引入：</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;body&gt;</span> 
  <span class="nt">&lt;div</span> <span class="na">th:include=</span><span class="s">"footer :: copy"</span><span class="nt">&gt;&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">th:replace=</span><span class="s">"footer :: copy"</span><span class="nt">&gt;&lt;/div&gt;</span>
 <span class="nt">&lt;/body&gt;</span>
</code></pre></div></div>

<p>th:include 和 th:replace区别，include只是加载，replace是替换</p>

<p>返回的HTML如下：</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;body&gt;</span> 
   <span class="nt">&lt;div&gt;</span> <span class="ni">&amp;copy;</span> 2016 <span class="nt">&lt;/div&gt;</span> 
  <span class="nt">&lt;footer&gt;</span><span class="ni">&amp;copy;</span> 2016 <span class="nt">&lt;/footer&gt;</span> 
<span class="nt">&lt;/body&gt;</span>
</code></pre></div></div>

<p>下面是一个常用的后台页面布局，将整个页面分为头部，尾部、菜单栏、隐藏栏，点击菜单只改变content区域的页面</p>
<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;body</span> <span class="na">class=</span><span class="s">"layout-fixed"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">th:fragment=</span><span class="s">"navbar"</span>  <span class="na">class=</span><span class="s">"wrapper"</span>  <span class="na">role=</span><span class="s">"navigation"</span><span class="nt">&gt;</span>
	<span class="nt">&lt;div</span> <span class="na">th:replace=</span><span class="s">"fragments/header :: header"</span><span class="nt">&gt;</span>Header<span class="nt">&lt;/div&gt;</span>
	<span class="nt">&lt;div</span> <span class="na">th:replace=</span><span class="s">"fragments/left :: left"</span><span class="nt">&gt;</span>left<span class="nt">&lt;/div&gt;</span>
	<span class="nt">&lt;div</span> <span class="na">th:replace=</span><span class="s">"fragments/sidebar :: sidebar"</span><span class="nt">&gt;</span>sidebar<span class="nt">&lt;/div&gt;</span>
	<span class="nt">&lt;div</span> <span class="na">layout:fragment=</span><span class="s">"content"</span> <span class="na">id=</span><span class="s">"content"</span> <span class="nt">&gt;&lt;/div&gt;</span>
	<span class="nt">&lt;div</span> <span class="na">th:replace=</span><span class="s">"fragments/footer :: footer"</span><span class="nt">&gt;</span>footer<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/body&gt;</span>
</code></pre></div></div>

<p>任何页面想使用这样的布局值只需要替换中见的 content模块即可</p>
<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code> <span class="nt">&lt;html</span> <span class="na">xmlns:th=</span><span class="s">"http://www.thymeleaf.org"</span> <span class="na">layout:decorator=</span><span class="s">"layout"</span><span class="nt">&gt;</span>
   <span class="nt">&lt;body&gt;</span>
      <span class="nt">&lt;section</span> <span class="na">layout:fragment=</span><span class="s">"content"</span><span class="nt">&gt;</span>
    ...

</code></pre></div></div>

<p>也可以在引用模版的时候传参</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;head</span> <span class="na">th:include=</span><span class="s">"layout :: htmlhead"</span> <span class="na">th:with=</span><span class="s">"title='Hello'"</span><span class="nt">&gt;&lt;/head&gt;</span>
</code></pre></div></div>

<p>layout 是文件地址，如果有文件夹可以这样写  fileName/layout:htmlhead<br />
htmlhead 是指定义的代码片段 如 <code class="highlighter-rouge">th:fragment="copy"</code></p>
</body>
</html>