<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>list-example</title>
<link th:href="@{/bootstrap/css/bootstrap-table.css}" rel="stylesheet" />
<link th:href="@{/bootstrap/css/bootstrap-dialog.css}" rel="stylesheet" />
<script th:src="@{/bootstrap/js/bootstrap-table.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap-dialog.js}"></script>
<script th:src="@{/js/demo/mybatis/pagehelper-example.js}"></script>
</head>
<body>
	<h3>分页插件</h3>
	<h4>使用mybatis的pagehelper插件可以快速的实现分页功能，在前台正确传pageNum和pageSize参数后，后台只需要增加
	<code>PageHelper.startPage(pageNum + 1, pageSize)</code>一行代码即可</h4>
	<div class="panel-body" style="padding-bottom:0px;">
		<div class="panel panel-default" style="margin-top: 10px;">
			<div class="panel-heading">查询条件</div>
			<div class="panel-body">
				<form class="form-inline" role="form"
					style="float: left; width: 100%;margin-left: 20px;" method="post"
					id="queryForm">
					<div class="form-group">
						<label for="content">查询内容：</label> <input type="text"
							class="form-control" name="content" id="content"
							placeholder="请输入CONTENT" />
					</div>
					<div class="form-group">
						<label for="num">查询数字：</label> <input type="text"
							class="form-control" name="num" id="num" placeholder="请输入num" />
					</div>
					<div class="form-group">
						<button type="button" id="queryBtn" onclick="doQuery();"
							class="btn btn-primary">查询</button>
					</div>
				</form>
			</div>
		</div>
		<table id="demo-table">
		</table>
	</div>
</body>
</html>